Constraints

Geheel:
- gewenste vrije ruimte tussen huis en rand van de map
- max 4 water oppervlaktes, 20%, vierkant of ovaal, afmeting 1x4
- 20, 40 of 60 huizen

Eensgezins:
- 60%, 8x8, 2m vrijstand

Bungalow:
- 25%, 10x7.5, 3m vrijstand

Maison:
- 15%, 11x10.5, 6m vrijstand
